export(add_headers)
export(authenticate)
export(BROWSE)
export(config)
export(GET)
export(handle)
export(HEAD)
export(new_bin)
export(parse_url)
export(POST)
export(set_config)
export(set_cookies)
export(timeout)
export(use_proxy)
export(verbose)
export(with_config)
S3method(as.character,response)
S3method(c,config)
S3method(print,config)
S3method(print,handle)
S3method(print,response)
