export(accept_json)
export(accept_xml)
export(add_headers)
export(authenticate)
export(BROWSE)
export(build_url)
export(config)
export(content)
export(DELETE)
export(GET)
export(handle)
export(HEAD)
export(insensitive)
export(modify_url)
export(new_bin)
export(oauth_app)
export(oauth_callback)
export(oauth_endpoint)
export(oauth_listener)
export(oauth1.0_token)
export(parse_url)
export(parsed_content)
export(PATCH)
export(POST)
export(PUT)
export(reset_config)
export(set_config)
export(set_cookies)
export(stop_for_status)
export(text_content)
export(timeout)
export(upload_file)
export(use_proxy)
export(user_agent)
export(verbose)
export(with_config)
import(RCurl)
import(stringr)
importFrom(digest,hmac)
S3method("[",insensitive)
S3method("[[",insensitive)
S3method("$",insensitive)
S3method(as.character,response)
S3method(c,config)
S3method(print,config)
S3method(print,handle)
S3method(print,response)
